.hero {
    text-align: center;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 505px;
    background-image: url(../img/index/hero-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero span {
    font-size: 60px;
    font-weight: bold;
}
.about {
    padding-top: 35px;
    padding-bottom: 100px;
}